<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的 
	例如namespace="com.liang.mapper.userMapper"就是com.liang.mapper(包名)+userMapper(userMapper.xml文件去除后缀) -->
<mapper namespace="com.liang.mapper.TaskMapper">
	<!-- 在select标签中编写查询的SQL语句， 设置select标签的id属性为getUser，id属性值必须是唯一的，不能够重复 使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型 
		resultType="com.liang.entity.User"就表示将查询结果封装成一个User类的对象返回 User类就是users表所对应的实体类 -->
	<!-- 根据id查询得到一个user对象 -->
	<select id="getTask" parameterType="long" resultType="com.liang.entity.Task">
		select * from task where taskId = #{taskId}
	</select>

	<!-- 创建用户(Create) -->
	<insert id="addTask" parameterType="com.liang.entity.Task">
		insert into task(taskName,creTime,endTime,realEtime,workDays,workEffect,workQua,workNorm,workScore,convertScore,budgetName,department,chargeMan,workType,remark) values(#{taskName},#{creTime},#{endTime},#{realEtime},#{workDays},#{workEffect},#{workQua},#{workNorm},#{workScore},#{budgetName},#{department},#{chargeMan},#{workType},#{remark})
	</insert>

	<!-- 删除用户(Remove) -->
	<delete id="deleteTask" parameterType="long">
		delete from task where taskId=#{taskId}
	</delete>

	<!-- 修改用户(Update) -->
	<update id="updateTask" parameterType="com.liang.entity.Task">
		update task set taskName=#{taskName},creTime=#{creTime},endTime=#{endTime},realEtime=#{realEtime},workDays=#{workDays},workEffect=#{workEffect},
		workQua=#{workQua},workNorm=#{workNorm},workScore=#{workScore},budgetName=#{budgetName},department=#{department},chargeMan=#{chargeMan},
		chargeMan=#{chargeMan},workType=#{workType},remark=#{remark}
		where taskId=#{taskId}
	</update>

	<!-- 查询全部用户 -->
	<select id="getTasks" resultType="com.liang.entity.Task">
		select * from task
	</select>
</mapper>